:root {
  --text-color: black;
  --primary-color: purple;
  --primary-color-hover: gray;
  --secondary-color: blue;
  --secondary-color-hover: lightblue;
  --border-color: purple;
  --background-image: linear-gradient(to bottom right, #8cff00, #42f596, #42e3f5, #2f4ced, #9324c7);
  --background-color: #e1e1e1;
}

button {
  background-color: orange;
  text-shadow: 1px 1px yellow;
  font-size: 20px;
}

button.medium {
  font-size: 30px;
}

button.large {
  font-size: 50px;
}

button.admin {
  font-size: 300px;
}

button:hover {
  cursor: pointer;
}
