:root {
  --text-color: black;
  --secondary-text-color: #e1e1e1;
  --header-background-color: linear-gradient(to bottom right, rgb(15, 15, 15), rgb(64, 64, 64)) ;
  --primary-color: purple;
  --primary-color-hover: gray;
  --secondary-color: blue;
  --secondary-color-hover: lightblue;
  --border-color: purple;
  --background-image: linear-gradient(to bottom right, #8cff00, #42f596, #42e3f5, #2f4ced, #9324c7);
  --background-color: #e1e1e1;
  --scoreboard-background: linear-gradient(#8cff00, #ff4221);
  --border:  2px solid black;
  --text-shadow: 1px 1px rgb(38, 38, 38, 0.5);
  --text-shadow-header:
  4px 0px 5px rgb(12, 232, 188),
  0px -4px 5px rgb(226, 237, 19),
  -4px 0px 5px rgb(255, 0, 0);
  --text-shadow-input:
  8px 0px 8px rgb(0, 255, 247),
  0px -8px 8px rgb(226, 237, 19),
  -8px 0px 8px rgb(255, 0, 0),
  0px 8px 8px rgb(60, 255, 0);
}

body {
  font-family: 'Stalinist One', cursive;
  color: var(--text-color);
}

button {
  background-color: orange;
  text-shadow: 1px 1px yellow;
  font-size: 20px;
}

button.medium {
  font-size: 30px;
}

button.large {
  font-size: 50px;
}

button.admin {
  font-size: 300px;
}

button:hover {
  cursor: pointer;
}


/* Scrollbar */
::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #8cff00;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #8cff00;
}
