
#scoreboardWrapper {
  text-align: center;
  width: 25%;
  max-height: 550px;
  overflow-y: scroll;
  margin: auto;
  background-image: var(--scoreboard-background);
  border: var(--border);
  text-shadow: var(--text-shadow);
  padding: 15px;
}

#scoreboardHeader {
  text-decoration: underline;
}

#scores {

}
